@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Sriracha", cursive;;
    --fonte3: "Passion One", sans-serif;; 
    --cor1: #000000;
    --cor2: #ffffff;
    --cor3: #00000062;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: var(--cor1);
    color: var(--cor2);
    max-width: 100vw;
    text-align: center;
}

header > h1{
    font-family: var(--fonte3);
    font-size: 10vw;
    font-weight: normal;
    font-variant: small-caps;
    padding: 40px 10px 5px 10px;
}

header > p{
    font-family: var(--fonte1);
    padding: 0px 0px 45px 0px;
}

header a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor2);
}

a:hover{
    text-decoration: underline;
}

p{
    font-family: var(--fonte2);
}

.normal {
    line-height: 2em;
    font-size: 3.5vw;
    margin:  20px 0px 100px 20px;
}

.imagem{
    line-height: 2em;
    font-size: 3.5vw;
    background-color: var(--cor3);
    color: var(--cor2);
    text-shadow: 1px 2px 5px var(--cor1);
    display: inline-block;
    padding: 12px 2px;
}

#flor{
    background: url('../imagens/background001.jpg') center right no-repeat fixed;
    /*background-image: url('imagens/background001.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: top right;*/
    /*background-attachment: fixed;*/
    background-size: cover;
    box-shadow: inset 0px 0px 20px var(--cor1);
    padding: 50px 15px;
}

#livro{
    background: url('../imagens/background002.jpg') center right no-repeat fixed;
    /*background-image: url('imagens/background001.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: top right;*/
    /*background-attachment: fixed;*/
    background-size: cover;
    box-shadow: inset 0px 0px 20px var(--cor1);
    padding: 50px 15px;
}

footer{
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 7px;
}
footer p{
    font-weight: 100;
    font-family: var(--fonte1);
    font-size: 0.8em;
}

footer a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor2);
}